# Filtering rows 3: multiple filter conditions
By the end of this lecture you will be able to:
- use multiple AND conditions in `filter`
- use multiple OR conditions in `filter`
- optimise multiple conditions in lazy mode

In [15]:
import polars as pl

In [16]:
csv_file = "../data/titanic.csv"

In [17]:
df = pl.read_csv(csv_file)

## Multiple conditions

### Apply `AND` conditions

We can apply filter `AND` conditions where all conditions must be met in a number of ways.

The first way is to **chaining** multiple calls to `filter`.

In this example we keep all first class passengers that are over 70

In [18]:
(
    df
    .filter(
        Pclass = 1
    )
    .filter(
        pl.col('Age') > 70
    )
    .head(3)
)

shape: (3, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 97          ┆ 0        ┆ 1      ┆ Goldschmidt, Mr.   ┆ … ┆ PC 17754 ┆ 34.6542 ┆ A5    ┆ C        │
│             ┆          ┆        ┆ George B           ┆   ┆          ┆         ┆       ┆          │
│ 494         ┆ 0        ┆ 1      ┆ Artagaveytia, Mr.  ┆ … ┆ PC 17609 ┆ 49.5042 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Ramon              ┆   ┆          ┆         ┆       ┆          │
│ 631         ┆ 1        ┆ 1      ┆ Barkworth, Mr.     ┆ … ┆ 27042    ┆ 30.0    ┆ A23   ┆ S        │
│             ┆          ┆        ┆ Algernon Henry Wi… ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

In eager mode chaining is inefficient. For each call to `filter` Polars has to do a full pass through the rows of the `DataFrame`. It is better to combine everything into a single condition 

One way to do this is to **concatenate** multiple `AND` conditions in a single `filter` call using `&`

In [19]:
(
    df
    .filter(
        (pl.col('Age') > 70) & (pl.col('Pclass') == 1)
    )
    .head(2)
)

shape: (2, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 97          ┆ 0        ┆ 1      ┆ Goldschmidt, Mr.   ┆ … ┆ PC 17754 ┆ 34.6542 ┆ A5    ┆ C        │
│             ┆          ┆        ┆ George B           ┆   ┆          ┆         ┆       ┆          │
│ 494         ┆ 0        ┆ 1      ┆ Artagaveytia, Mr.  ┆ … ┆ PC 17609 ┆ 49.5042 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Ramon              ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

There is a less verbose way to do this by passing the predicates as a comma-separated list of expressions

In [20]:
(
    df
    .filter(
        pl.col("Pclass") == 1,
        pl.col("Age") > 70
    )
    .head(2)
)

shape: (2, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 97          ┆ 0        ┆ 1      ┆ Goldschmidt, Mr.   ┆ … ┆ PC 17754 ┆ 34.6542 ┆ A5    ┆ C        │
│             ┆          ┆        ┆ George B           ┆   ┆          ┆         ┆       ┆          │
│ 494         ┆ 0        ┆ 1      ┆ Artagaveytia, Mr.  ┆ … ┆ PC 17609 ┆ 49.5042 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Ramon              ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

If we are applying multiple *equality* conditions we can do this with keywords (note the single `=` in this format)

In [21]:
(
    df
    .filter(
        Pclass = 1,
        Age = 70
    )
)

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬───────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Ticket    ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---       ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ str       ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪═══════════╪══════╪═══════╪══════════╡
│ 746         ┆ 0        ┆ 1      ┆ Crosby, Capt. Edward ┆ … ┆ WE/P 5735 ┆ 71.0 ┆ B22   ┆ S        │
│             ┆          ┆        ┆ Gifford              ┆   ┆           ┆      ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────────┴───┴───────────┴──────┴───────┴──────────┘

### Apply an AND condition using `pl.all_horizontal`
Specifying multiple conditions in chained `filters` or using `&` is fine when we have a small number of conditions to apply. However, we can use the `pl.all_horizontal` method when we want to apply an AND condition on many columns.

> The methods above with a comma-separate list of conditions are equivalent to `pl.all_horizontal`

In this example we:
- first call `pl.all().is_not_null()` to create a Boolean `DataFrame` where each call is True if the underlying value is not `null`
- then call `pl.all_horizontal` to find rows where all values are `True` (i.e. all values are not `null`)

In [22]:
(
    df
    .filter(
        pl.all_horizontal(
            pl.all().is_not_null()
        )
    )
    .head(2)
)

shape: (2, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Flor…     ┆   ┆          ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 113803   ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (Li… ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

### Apply `AND` condition on a range

We use `in_between` to apply a condition on a range. In this case we are looking for values **greater than or equal to** 10 and **less than or equal to** 13

In [23]:
(
    df
    .filter(
        pl.col("Age").is_between(10,13)
    )
    .head(2)
)

shape: (2, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬─────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket  ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---     ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str     ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═════════╪═════════╪═══════╪══════════╡
│ 60          ┆ 0        ┆ 3      ┆ Goodwin, Master. ┆ … ┆ CA 2144 ┆ 46.9    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Frederi… ┆   ┆         ┆         ┆       ┆          │
│ 126         ┆ 1        ┆ 3      ┆ Nicola-Yarred,   ┆ … ┆ 2651    ┆ 11.2417 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Master. Elias    ┆   ┆         ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴─────────┴─────────┴───────┴──────────┘

We use the `closed` argument to specify if we want the range to be open, closed on both sides or open on the left or right. The default is for the range to be closed (with a value of `"both"`). 

In this example we are looking for values from 10 to 13 exclusive of the boundaries

In [24]:
(
    df
    .filter(
        pl.col("Age").is_between(10,13,closed="none")
    )
    .head(2)
)

shape: (2, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬─────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket  ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---     ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str     ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═════════╪═════════╪═══════╪══════════╡
│ 60          ┆ 0        ┆ 3      ┆ Goodwin, Master. ┆ … ┆ CA 2144 ┆ 46.9    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Frederi… ┆   ┆         ┆         ┆       ┆          │
│ 126         ┆ 1        ┆ 3      ┆ Nicola-Yarred,   ┆ … ┆ 2651    ┆ 11.2417 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Master. Elias    ┆   ┆         ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴─────────┴─────────┴───────┴──────────┘

### Apply `OR` conditions

We can apply an OR filter using the pipe `|` operator.

In this example we look for rows where the passenger is over 70 OR the passenger is in first class

In [25]:
(
    df
    .filter(
        (pl.col('Age') > 70) | (pl.col('Pclass') == 1)
    )
    .head(2)
)

shape: (2, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Flor…     ┆   ┆          ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 113803   ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (Li… ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

One kind of OR condition is when we want to check if a row is equal to any value in a `list`. We can do this with `is_in`

In [26]:
(
    df
    .filter(
        pl.col('Pclass').is_in([2,3])
    )
    .head(3)
)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────┬───┬───────────┬───────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                ┆ … ┆ Ticket    ┆ Fare  ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                 ┆   ┆ ---       ┆ ---   ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                 ┆   ┆ str       ┆ f64   ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════╪═══╪═══════════╪═══════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen    ┆ … ┆ A/5 21171 ┆ 7.25  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris              ┆   ┆           ┆       ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.    ┆ … ┆ STON/O2.  ┆ 7.925 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina               ┆   ┆ 3101282   ┆       ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William  ┆ … ┆ 373450    ┆ 8.05  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Henry               ┆   ┆           ┆       ┆       ┆          │
└─────────────┴──────────┴────────┴─────────────────────┴───┴───────────┴───────┴───────┴──────────┘

### Multiple conditions in lazy mode
In *lazy mode* if we pass multiple `filter` calls then the query optimizer combines these into a *single condition* inside `SELECTION`.

In this example we filter for first class passengers over the age of 70.

In [27]:
df = (
    pl.scan_csv(csv_file)
    .filter(
        pl.col('Pclass')==1
    )
    .filter(
        (pl.col('Age') > 70)
    )
)
print(df.explain())

  Csv SCAN ../data/titanic.csv
  PROJECT */12 COLUMNS
  SELECTION: [([(col("Pclass")) == (1)]) & ([(col("Age")) > (70.0)])]

In the query plan we see the conditionsa are combined to a single condition by the query optimiser

## Exercises
In the exercises you will develop your understanding of:
- applying multiple AND conditions
- applying multiple OR conditions

## Solutions
### Solution to Exercise 1
Create a `DataFrame` where `Age` is between 30 and 50 (including the lower bound) and the passenger is in 2nd class. Do this in eager mode in a single pass through the `DataFrame`

In [28]:
(
    pl.read_csv(csv_file)
    .filter(
        (pl.col('Age').is_between(30,50,closed="left")) & (pl.col('Pclass')==2)
    )
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬─────────────────────┬───┬────────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                ┆ … ┆ Ticket     ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                 ┆   ┆ ---        ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                 ┆   ┆ str        ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════╪═══╪════════════╪══════╪═══════╪══════════╡
│ 21          ┆ 0        ┆ 2      ┆ Fynney, Mr. Joseph  ┆ … ┆ 239865     ┆ 26.0 ┆ null  ┆ S        │
│             ┆          ┆        ┆ J                   ┆   ┆            ┆      ┆       ┆          │
│ 22          ┆ 1        ┆ 2      ┆ Beesley, Mr.        ┆ … ┆ 248698     ┆ 13.0 ┆ D56   ┆ S        │
│             ┆          ┆        ┆ Lawrence            ┆   ┆            ┆      ┆       ┆          │
│ 71          ┆ 0        ┆ 2      ┆ Jenkin, Mr. Stephen ┆ … ┆ C.A. 33111 ┆ 10.5 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Curnow              ┆   ┆            ┆      ┆       ┆          │
│ 99          ┆ 1        ┆ 2      ┆ Doling, Mrs. John T ┆ … ┆ 231919     ┆ 23.0 ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Ada Julia B…       ┆   ┆            ┆      ┆       ┆          │
│ 100         ┆ 0        ┆ 2      ┆ Kantor, Mr. Sinai   ┆ … ┆ 244367     ┆ 26.0 ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────┴───┴────────────┴──────┴───────┴──────────┘

Do this again combining the range condition with the keyword approach for the 2nd class condition - does the order you pass the conditions matter?

In [29]:
(
    pl.read_csv(csv_file)
    .filter(
        pl.col('Age').is_between(30,50,closed="left"),
        Pclass=2,
    )
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬─────────────────────┬───┬────────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                ┆ … ┆ Ticket     ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                 ┆   ┆ ---        ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                 ┆   ┆ str        ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════╪═══╪════════════╪══════╪═══════╪══════════╡
│ 21          ┆ 0        ┆ 2      ┆ Fynney, Mr. Joseph  ┆ … ┆ 239865     ┆ 26.0 ┆ null  ┆ S        │
│             ┆          ┆        ┆ J                   ┆   ┆            ┆      ┆       ┆          │
│ 22          ┆ 1        ┆ 2      ┆ Beesley, Mr.        ┆ … ┆ 248698     ┆ 13.0 ┆ D56   ┆ S        │
│             ┆          ┆        ┆ Lawrence            ┆   ┆            ┆      ┆       ┆          │
│ 71          ┆ 0        ┆ 2      ┆ Jenkin, Mr. Stephen ┆ … ┆ C.A. 33111 ┆ 10.5 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Curnow              ┆   ┆            ┆      ┆       ┆          │
│ 99          ┆ 1        ┆ 2      ┆ Doling, Mrs. John T ┆ … ┆ 231919     ┆ 23.0 ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Ada Julia B…       ┆   ┆            ┆      ┆       ┆          │
│ 100         ┆ 0        ┆ 2      ┆ Kantor, Mr. Sinai   ┆ … ┆ 244367     ┆ 26.0 ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────┴───┴────────────┴──────┴───────┴──────────┘

The order you do this matters - Python keyword arguments must be the last on the list

### Solution to Exercise 2
Return all the rows of the `DataFrame` where at least one column on the row is `null` (excluding the `Cabin` column with many `null` values)

In [30]:
(
    pl.read_csv(csv_file)
    .drop("Cabin")
    .filter(
        pl.any_horizontal(
            pl.all().is_null()
        )
    )
    .head()
)

shape: (5, 11)
┌─────────────┬──────────┬────────┬───────────────────────┬───┬───────┬────────┬────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                  ┆ … ┆ Parch ┆ Ticket ┆ Fare   ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                   ┆   ┆ ---   ┆ ---    ┆ ---    ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                   ┆   ┆ i64   ┆ str    ┆ f64    ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════════╪═══╪═══════╪════════╪════════╪══════════╡
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James      ┆ … ┆ 0     ┆ 330877 ┆ 8.4583 ┆ Q        │
│ 18          ┆ 1        ┆ 2      ┆ Williams, Mr. Charles ┆ … ┆ 0     ┆ 244373 ┆ 13.0   ┆ S        │
│             ┆          ┆        ┆ Eugene                ┆   ┆       ┆        ┆        ┆          │
│ 20          ┆ 1        ┆ 3      ┆ Masselmani, Mrs.      ┆ … ┆ 0     ┆ 2649   ┆ 7.225  ┆ C        │
│             ┆          ┆        ┆ Fatima                ┆   ┆       ┆        ┆        ┆          │
│ 27          ┆ 0        ┆ 3      ┆ Emir, Mr. Farred      ┆ … ┆ 0     ┆ 2631   ┆ 7.225  ┆ C        │
│             ┆          ┆        ┆ Chehab                ┆   ┆       ┆        ┆        ┆          │
│ 29          ┆ 1        ┆ 3      ┆ O'Dwyer, Miss. Ellen  ┆ … ┆ 0     ┆ 330959 ┆ 7.8792 ┆ Q        │
│             ┆          ┆        ┆ "Nellie"              ┆   ┆       ┆        ┆        ┆          │
└─────────────┴──────────┴────────┴───────────────────────┴───┴───────┴────────┴────────┴──────────┘

### Solution to Exercise 3
Create a `DataFrame` where the passengers got on in Cork ("C") or Southampton ("S") using the pipe operator

In [31]:
(
    pl.read_csv(csv_file)
    .filter(
        (pl.col('Embarked') == "C") | (pl.col('Embarked') == "S")
    )
    .head(3)
)

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley      ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

Do this again using the `is_in` approach

In [32]:
(
    pl.read_csv(csv_file)
    .filter(
        pl.col('Embarked').is_in(["C","S"])
    )
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley      ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath     ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Li…              ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

### Solution to Exercise 4
Load the Spotify CSV data into a `DataFrame`

In [33]:
pl.Config.set_fmt_str_lengths(30)
spotify_csv = "../data/spotify-charts-2017-2021-global-top200.csv.gz"
spotify_df = pl.read_csv(spotify_csv)
spotify_df.head()

shape: (5, 9)
┌───────────────┬──────┬────────────┬───────────────┬───┬────────┬────────┬──────────────┬─────────┐
│ title         ┆ rank ┆ date       ┆ artist        ┆ … ┆ region ┆ chart  ┆ trend        ┆ streams │
│ ---           ┆ ---  ┆ ---        ┆ ---           ┆   ┆ ---    ┆ ---    ┆ ---          ┆ ---     │
│ str           ┆ i64  ┆ str        ┆ str           ┆   ┆ str    ┆ str    ┆ str          ┆ i64     │
╞═══════════════╪══════╪════════════╪═══════════════╪═══╪════════╪════════╪══════════════╪═════════╡
│ Starboy       ┆ 1    ┆ 2017-01-01 ┆ The Weeknd,   ┆ … ┆ Global ┆ top200 ┆ SAME_POSITIO ┆ 3135625 │
│               ┆      ┆            ┆ Daft Punk     ┆   ┆        ┆        ┆ N            ┆         │
│ Closer        ┆ 2    ┆ 2017-01-01 ┆ The           ┆ … ┆ Global ┆ top200 ┆ SAME_POSITIO ┆ 3015525 │
│               ┆      ┆            ┆ Chainsmokers, ┆   ┆        ┆        ┆ N            ┆         │
│               ┆      ┆            ┆ Halsey        ┆   ┆        ┆        ┆              ┆         │
│ Let Me Love   ┆ 3    ┆ 2017-01-01 ┆ DJ Snake,     ┆ … ┆ Global ┆ top200 ┆ MOVE_UP      ┆ 2545384 │
│ You           ┆      ┆            ┆ Justin Bieber ┆   ┆        ┆        ┆              ┆         │
│ Rockabye      ┆ 4    ┆ 2017-01-01 ┆ Clean Bandit  ┆ … ┆ Global ┆ top200 ┆ MOVE_DOWN    ┆ 2356604 │
│ (feat. Sean   ┆      ┆            ┆               ┆   ┆        ┆        ┆              ┆         │
│ Paul & An…    ┆      ┆            ┆               ┆   ┆        ┆        ┆              ┆         │
│ One Dance     ┆ 5    ┆ 2017-01-01 ┆ Drake,        ┆ … ┆ Global ┆ top200 ┆ SAME_POSITIO ┆ 2259887 │
│               ┆      ┆            ┆ WizKid, Kyla  ┆   ┆        ┆        ┆ N            ┆         │
└───────────────┴──────┴────────────┴───────────────┴───┴────────┴────────┴──────────────┴─────────┘

Find all rows where the number of streams is greater than 10 million and the trend is "NEW_ENTRY"

In [34]:
(
    spotify_df
    .filter(
        pl.col("streams")>1e7,
        trend = "NEW_ENTRY"
    )
)

shape: (6, 9)
┌────────────────────┬──────┬────────────┬────────────┬───┬────────┬────────┬───────────┬──────────┐
│ title              ┆ rank ┆ date       ┆ artist     ┆ … ┆ region ┆ chart  ┆ trend     ┆ streams  │
│ ---                ┆ ---  ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---    ┆ ---       ┆ ---      │
│ str                ┆ i64  ┆ str        ┆ str        ┆   ┆ str    ┆ str    ┆ str       ┆ i64      │
╞════════════════════╪══════╪════════════╪════════════╪═══╪════════╪════════╪═══════════╪══════════╡
│ I Don't Care (with ┆ 1    ┆ 2019-05-10 ┆ Ed Sheeran ┆ … ┆ Global ┆ top200 ┆ NEW_ENTRY ┆ 10977389 │
│ Justin Bieb…       ┆      ┆            ┆            ┆   ┆        ┆        ┆           ┆          │
│ Butter             ┆ 2    ┆ 2021-05-21 ┆ BTS        ┆ … ┆ Global ┆ top200 ┆ NEW_ENTRY ┆ 11042335 │
│ Girls Want Girls   ┆ 1    ┆ 2021-09-03 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ NEW_ENTRY ┆ 12384750 │
│ (with Lil Bab…     ┆      ┆            ┆            ┆   ┆        ┆        ┆           ┆          │
│ Champagne Poetry   ┆ 2    ┆ 2021-09-03 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ NEW_ENTRY ┆ 11696783 │
│ Fair Trade (with   ┆ 3    ┆ 2021-09-03 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ NEW_ENTRY ┆ 11642541 │
│ Travis Scott)      ┆      ┆            ┆            ┆   ┆        ┆        ┆           ┆          │
│ Papi’s Home        ┆ 5    ┆ 2021-09-03 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ NEW_ENTRY ┆ 10029292 │
└────────────────────┴──────┴────────────┴────────────┴───┴────────┴────────┴───────────┴──────────┘

Find the rows where the artist is either Drake or Ed Sheeran and the rank is less than (better than) 5

In [35]:
(
    spotify_df
    .filter(
        pl.col("artist").is_in(["Drake","Ed Sheeran"])
    )
    .filter(pl.col("rank")<5)
)

shape: (795, 9)
┌──────────────┬──────┬────────────┬────────────┬───┬────────┬────────┬───────────────┬─────────┐
│ title        ┆ rank ┆ date       ┆ artist     ┆ … ┆ region ┆ chart  ┆ trend         ┆ streams │
│ ---          ┆ ---  ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---    ┆ ---           ┆ ---     │
│ str          ┆ i64  ┆ str        ┆ str        ┆   ┆ str    ┆ str    ┆ str           ┆ i64     │
╞══════════════╪══════╪════════════╪════════════╪═══╪════════╪════════╪═══════════════╪═════════╡
│ God's Plan   ┆ 1    ┆ 2018-03-01 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7572795 │
│ Shape of You ┆ 1    ┆ 2017-02-01 ┆ Ed Sheeran ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7549041 │
│ God's Plan   ┆ 1    ┆ 2018-03-02 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7817732 │
│ Shape of You ┆ 1    ┆ 2017-02-02 ┆ Ed Sheeran ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7602214 │
│ Shape of You ┆ 1    ┆ 2017-02-03 ┆ Ed Sheeran ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7881255 │
│ …            ┆ …    ┆ …          ┆ …          ┆ … ┆ …      ┆ …      ┆ …             ┆ …       │
│ Shivers      ┆ 4    ┆ 2021-10-30 ┆ Ed Sheeran ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 4995236 │
│ Shivers      ┆ 4    ┆ 2021-10-31 ┆ Ed Sheeran ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 4195481 │
│ God's Plan   ┆ 1    ┆ 2018-01-29 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7272380 │
│ God's Plan   ┆ 1    ┆ 2018-01-30 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7468471 │
│ God's Plan   ┆ 1    ┆ 2018-01-31 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7341621 │
└──────────────┴──────┴────────────┴────────────┴───┴────────┴────────┴───────────────┴─────────┘