# Chapter 2: Reading and Writing Files

## Reading and writing CSV files

### Getting ready

In [1]:
import polars as pl

### How to do it...

In [6]:
df = pl.read_csv('../data/customer_shopping_data.csv')
df.head()

shape: (5, 10)
┌────────────┬─────────────┬────────┬─────┬───┬─────────┬──────────────┬─────────────┬─────────────┐
│ invoice_no ┆ customer_id ┆ gender ┆ age ┆ … ┆ price   ┆ payment_meth ┆ invoice_dat ┆ shopping_ma │
│ ---        ┆ ---         ┆ ---    ┆ --- ┆   ┆ ---     ┆ od           ┆ e           ┆ ll          │
│ str        ┆ str         ┆ str    ┆ i64 ┆   ┆ f64     ┆ ---          ┆ ---         ┆ ---         │
│            ┆             ┆        ┆     ┆   ┆         ┆ str          ┆ str         ┆ str         │
╞════════════╪═════════════╪════════╪═════╪═══╪═════════╪══════════════╪═════════════╪═════════════╡
│ I138884    ┆ C241288     ┆ Female ┆ 28  ┆ … ┆ 1500.4  ┆ Credit Card  ┆ 5/8/2022    ┆ Kanyon      │
│ I317333    ┆ C111565     ┆ Male   ┆ 21  ┆ … ┆ 1800.51 ┆ Debit Card   ┆ 12/12/2021  ┆ Forum       │
│            ┆             ┆        ┆     ┆   ┆         ┆              ┆             ┆ Istanbul    │
│ I127801    ┆ C266599     ┆ Male   ┆ 20  ┆ … ┆ 300.08  ┆ Cash         ┆ 9/11/2021   ┆ Metrocity   │
│ I173702    ┆ C988172     ┆ Female ┆ 66  ┆ … ┆ 3000.85 ┆ Credit Card  ┆ 16/05/2021  ┆ Metropol    │
│            ┆             ┆        ┆     ┆   ┆         ┆              ┆             ┆ AVM         │
│ I337046    ┆ C189076     ┆ Female ┆ 53  ┆ … ┆ 60.6    ┆ Cash         ┆ 24/10/2021  ┆ Kanyon      │
└────────────┴─────────────┴────────┴─────┴───┴─────────┴──────────────┴─────────────┴─────────────┘

In [7]:
df = pl.read_csv('../data/customer_shopping_data_no_header.csv')
df.head()

shape: (5, 10)
┌─────────┬─────────┬────────┬─────┬───┬─────────┬─────────────┬────────────┬────────────────┐
│ I138884 ┆ C241288 ┆ Female ┆ 28  ┆ … ┆ 1500.4  ┆ Credit Card ┆ 5/8/2022   ┆ Kanyon         │
│ ---     ┆ ---     ┆ ---    ┆ --- ┆   ┆ ---     ┆ ---         ┆ ---        ┆ ---            │
│ str     ┆ str     ┆ str    ┆ i64 ┆   ┆ f64     ┆ str         ┆ str        ┆ str            │
╞═════════╪═════════╪════════╪═════╪═══╪═════════╪═════════════╪════════════╪════════════════╡
│ I317333 ┆ C111565 ┆ Male   ┆ 21  ┆ … ┆ 1800.51 ┆ Debit Card  ┆ 12/12/2021 ┆ Forum Istanbul │
│ I127801 ┆ C266599 ┆ Male   ┆ 20  ┆ … ┆ 300.08  ┆ Cash        ┆ 9/11/2021  ┆ Metrocity      │
│ I173702 ┆ C988172 ┆ Female ┆ 66  ┆ … ┆ 3000.85 ┆ Credit Card ┆ 16/05/2021 ┆ Metropol AVM   │
│ I337046 ┆ C189076 ┆ Female ┆ 53  ┆ … ┆ 60.6    ┆ Cash        ┆ 24/10/2021 ┆ Kanyon         │
│ I227836 ┆ C657758 ┆ Female ┆ 28  ┆ … ┆ 1500.4  ┆ Credit Card ┆ 24/05/2022 ┆ Forum Istanbul │
└─────────┴─────────┴────────┴─────┴───┴─────────┴─────────────┴────────────┴────────────────┘

In [8]:
df = pl.read_csv('../data/customer_shopping_data_no_header.csv', has_header=False)
df.head()

shape: (5, 10)
┌──────────┬──────────┬──────────┬──────────┬───┬──────────┬─────────────┬────────────┬────────────┐
│ column_1 ┆ column_2 ┆ column_3 ┆ column_4 ┆ … ┆ column_7 ┆ column_8    ┆ column_9   ┆ column_10  │
│ ---      ┆ ---      ┆ ---      ┆ ---      ┆   ┆ ---      ┆ ---         ┆ ---        ┆ ---        │
│ str      ┆ str      ┆ str      ┆ i64      ┆   ┆ f64      ┆ str         ┆ str        ┆ str        │
╞══════════╪══════════╪══════════╪══════════╪═══╪══════════╪═════════════╪════════════╪════════════╡
│ I138884  ┆ C241288  ┆ Female   ┆ 28       ┆ … ┆ 1500.4   ┆ Credit Card ┆ 5/8/2022   ┆ Kanyon     │
│ I317333  ┆ C111565  ┆ Male     ┆ 21       ┆ … ┆ 1800.51  ┆ Debit Card  ┆ 12/12/2021 ┆ Forum      │
│          ┆          ┆          ┆          ┆   ┆          ┆             ┆            ┆ Istanbul   │
│ I127801  ┆ C266599  ┆ Male     ┆ 20       ┆ … ┆ 300.08   ┆ Cash        ┆ 9/11/2021  ┆ Metrocity  │
│ I173702  ┆ C988172  ┆ Female   ┆ 66       ┆ … ┆ 3000.85  ┆ Credit Card ┆ 16/05/2021 ┆ Metropol   │
│          ┆          ┆          ┆          ┆   ┆          ┆             ┆            ┆ AVM        │
│ I337046  ┆ C189076  ┆ Female   ┆ 53       ┆ … ┆ 60.6     ┆ Cash        ┆ 24/10/2021 ┆ Kanyon     │
└──────────┴──────────┴──────────┴──────────┴───┴──────────┴─────────────┴────────────┴────────────┘

In [9]:
column_names = ['invoice_no', 'customer_id', 'gender', 'age', 'category', 'quantity', 'price', 'payment_method', 'invoice_date', 'shopping_mall']
df = pl.read_csv('../data/customer_shopping_data_no_header.csv', 
                 has_header=False, 
                 new_columns=column_names)
df.head()

shape: (5, 10)
┌────────────┬─────────────┬────────┬─────┬───┬─────────┬──────────────┬─────────────┬─────────────┐
│ invoice_no ┆ customer_id ┆ gender ┆ age ┆ … ┆ price   ┆ payment_meth ┆ invoice_dat ┆ shopping_ma │
│ ---        ┆ ---         ┆ ---    ┆ --- ┆   ┆ ---     ┆ od           ┆ e           ┆ ll          │
│ str        ┆ str         ┆ str    ┆ i64 ┆   ┆ f64     ┆ ---          ┆ ---         ┆ ---         │
│            ┆             ┆        ┆     ┆   ┆         ┆ str          ┆ str         ┆ str         │
╞════════════╪═════════════╪════════╪═════╪═══╪═════════╪══════════════╪═════════════╪═════════════╡
│ I138884    ┆ C241288     ┆ Female ┆ 28  ┆ … ┆ 1500.4  ┆ Credit Card  ┆ 5/8/2022    ┆ Kanyon      │
│ I317333    ┆ C111565     ┆ Male   ┆ 21  ┆ … ┆ 1800.51 ┆ Debit Card   ┆ 12/12/2021  ┆ Forum       │
│            ┆             ┆        ┆     ┆   ┆         ┆              ┆             ┆ Istanbul    │
│ I127801    ┆ C266599     ┆ Male   ┆ 20  ┆ … ┆ 300.08  ┆ Cash         ┆ 9/11/2021   ┆ Metrocity   │
│ I173702    ┆ C988172     ┆ Female ┆ 66  ┆ … ┆ 3000.85 ┆ Credit Card  ┆ 16/05/2021  ┆ Metropol    │
│            ┆             ┆        ┆     ┆   ┆         ┆              ┆             ┆ AVM         │
│ I337046    ┆ C189076     ┆ Female ┆ 53  ┆ … ┆ 60.6    ┆ Cash         ┆ 24/10/2021  ┆ Kanyon      │
└────────────┴─────────────┴────────┴─────┴───┴─────────┴──────────────┴─────────────┴─────────────┘

In [10]:
df = pl.read_csv('../data/customer_shopping_data_no_header.csv', 
                 has_header=False, 
                 new_columns=column_names, 
                 try_parse_dates=True)
df.head()

shape: (5, 10)
┌────────────┬─────────────┬────────┬─────┬───┬─────────┬──────────────┬─────────────┬─────────────┐
│ invoice_no ┆ customer_id ┆ gender ┆ age ┆ … ┆ price   ┆ payment_meth ┆ invoice_dat ┆ shopping_ma │
│ ---        ┆ ---         ┆ ---    ┆ --- ┆   ┆ ---     ┆ od           ┆ e           ┆ ll          │
│ str        ┆ str         ┆ str    ┆ i64 ┆   ┆ f64     ┆ ---          ┆ ---         ┆ ---         │
│            ┆             ┆        ┆     ┆   ┆         ┆ str          ┆ date        ┆ str         │
╞════════════╪═════════════╪════════╪═════╪═══╪═════════╪══════════════╪═════════════╪═════════════╡
│ I138884    ┆ C241288     ┆ Female ┆ 28  ┆ … ┆ 1500.4  ┆ Credit Card  ┆ 2022-08-05  ┆ Kanyon      │
│ I317333    ┆ C111565     ┆ Male   ┆ 21  ┆ … ┆ 1800.51 ┆ Debit Card   ┆ 2021-12-12  ┆ Forum       │
│            ┆             ┆        ┆     ┆   ┆         ┆              ┆             ┆ Istanbul    │
│ I127801    ┆ C266599     ┆ Male   ┆ 20  ┆ … ┆ 300.08  ┆ Cash         ┆ 2021-11-09  ┆ Metrocity   │
│ I173702    ┆ C988172     ┆ Female ┆ 66  ┆ … ┆ 3000.85 ┆ Credit Card  ┆ 2021-05-16  ┆ Metropol    │
│            ┆             ┆        ┆     ┆   ┆         ┆              ┆             ┆ AVM         │
│ I337046    ┆ C189076     ┆ Female ┆ 53  ┆ … ┆ 60.6    ┆ Cash         ┆ 2021-10-24  ┆ Kanyon      │
└────────────┴─────────────┴────────┴─────┴───┴─────────┴──────────────┴─────────────┴─────────────┘

In [11]:
df = pl.read_csv('../data/customer_shopping_data_no_header.csv', 
                 has_header=False, 
                 new_columns=column_names, 
                 try_parse_dates=True, 
                 dtypes={'age': pl.Int8, 'quantity': pl.Int32})
df.head()

shape: (5, 10)
┌────────────┬─────────────┬────────┬─────┬───┬─────────┬──────────────┬─────────────┬─────────────┐
│ invoice_no ┆ customer_id ┆ gender ┆ age ┆ … ┆ price   ┆ payment_meth ┆ invoice_dat ┆ shopping_ma │
│ ---        ┆ ---         ┆ ---    ┆ --- ┆   ┆ ---     ┆ od           ┆ e           ┆ ll          │
│ str        ┆ str         ┆ str    ┆ i8  ┆   ┆ f64     ┆ ---          ┆ ---         ┆ ---         │
│            ┆             ┆        ┆     ┆   ┆         ┆ str          ┆ date        ┆ str         │
╞════════════╪═════════════╪════════╪═════╪═══╪═════════╪══════════════╪═════════════╪═════════════╡
│ I138884    ┆ C241288     ┆ Female ┆ 28  ┆ … ┆ 1500.4  ┆ Credit Card  ┆ 2022-08-05  ┆ Kanyon      │
│ I317333    ┆ C111565     ┆ Male   ┆ 21  ┆ … ┆ 1800.51 ┆ Debit Card   ┆ 2021-12-12  ┆ Forum       │
│            ┆             ┆        ┆     ┆   ┆         ┆              ┆             ┆ Istanbul    │
│ I127801    ┆ C266599     ┆ Male   ┆ 20  ┆ … ┆ 300.08  ┆ Cash         ┆ 2021-11-09  ┆ Metrocity   │
│ I173702    ┆ C988172     ┆ Female ┆ 66  ┆ … ┆ 3000.85 ┆ Credit Card  ┆ 2021-05-16  ┆ Metropol    │
│            ┆             ┆        ┆     ┆   ┆         ┆              ┆             ┆ AVM         │
│ I337046    ┆ C189076     ┆ Female ┆ 53  ┆ … ┆ 60.6    ┆ Cash         ┆ 2021-10-24  ┆ Kanyon      │
└────────────┴─────────────┴────────┴─────┴───┴─────────┴──────────────┴─────────────┴─────────────┘

In [13]:
df.write_csv('../data/output/shopping_data_output.csv', 
             include_header=False, 
             separator=',')

### There is more...

In [11]:
lf = pl.scan_csv('../data/customer_shopping_data_no_header.csv', 
                 has_header=False, 
                 new_columns=column_names, 
                 try_parse_dates=True, 
                 dtypes={'age': pl.Int8, 'quantity': pl.Int32})
lf.fetch(5)

shape: (5, 10)
┌────────────┬─────────────┬────────┬─────┬───┬─────────┬──────────────┬─────────────┬─────────────┐
│ invoice_no ┆ customer_id ┆ gender ┆ age ┆ … ┆ price   ┆ payment_meth ┆ invoice_dat ┆ shopping_ma │
│ ---        ┆ ---         ┆ ---    ┆ --- ┆   ┆ ---     ┆ od           ┆ e           ┆ ll          │
│ str        ┆ str         ┆ str    ┆ i8  ┆   ┆ f64     ┆ ---          ┆ ---         ┆ ---         │
│            ┆             ┆        ┆     ┆   ┆         ┆ str          ┆ date        ┆ str         │
╞════════════╪═════════════╪════════╪═════╪═══╪═════════╪══════════════╪═════════════╪═════════════╡
│ I138884    ┆ C241288     ┆ Female ┆ 28  ┆ … ┆ 1500.4  ┆ Credit Card  ┆ 2022-08-05  ┆ Kanyon      │
│ I317333    ┆ C111565     ┆ Male   ┆ 21  ┆ … ┆ 1800.51 ┆ Debit Card   ┆ 2021-12-12  ┆ Forum       │
│            ┆             ┆        ┆     ┆   ┆         ┆              ┆             ┆ Istanbul    │
│ I127801    ┆ C266599     ┆ Male   ┆ 20  ┆ … ┆ 300.08  ┆ Cash         ┆ 2021-11-09  ┆ Metrocity   │
│ I173702    ┆ C988172     ┆ Female ┆ 66  ┆ … ┆ 3000.85 ┆ Credit Card  ┆ 2021-05-16  ┆ Metropol    │
│            ┆             ┆        ┆     ┆   ┆         ┆              ┆             ┆ AVM         │
│ I337046    ┆ C189076     ┆ Female ┆ 53  ┆ … ┆ 60.6    ┆ Cash         ┆ 2021-10-24  ┆ Kanyon      │
└────────────┴─────────────┴────────┴─────┴───┴─────────┴──────────────┴─────────────┴─────────────┘

In [14]:
lf.sink_csv('../data/output/shopping_data_output_sink.csv')

## Reading and writing parquet files

### How to do it...

In [10]:
parquet_input_file_path = '../data/venture_funding_deals.parquet'
df = pl.read_parquet(parquet_input_file_path, 
                     columns=['Company', 'Amount', 'Valuation', 'Industry'], 
                     row_count_name='row_cnt')
df.head()

shape: (5, 4)
┌──────────────────┬─────────────────┬─────────────────┬─────────────────────────┐
│ Company          ┆ Amount          ┆ Valuation       ┆ Industry                │
│ ---              ┆ ---             ┆ ---             ┆ ---                     │
│ str              ┆ str             ┆ str             ┆ str                     │
╞══════════════════╪═════════════════╪═════════════════╪═════════════════════════╡
│ OpenAI           ┆ $10,000,000,000 ┆ n/a             ┆ Artificial intelligence │
│ Stripe           ┆ $6,500,000,000  ┆ $50,000,000,000 ┆ Fintech                 │
│ Inflection AI    ┆ $1,300,000,000  ┆ $4,000,000,000  ┆ Artificial intelligence │
│ Anthropic        ┆ $1,250,000,000  ┆ $4,000,000,000  ┆ Artificial intelligence │
│ Generate Capital ┆ $1,030,900,000  ┆ n/a             ┆ Energy                  │
└──────────────────┴─────────────────┴─────────────────┴─────────────────────────┘

In [11]:
pl.read_parquet_schema(parquet_input_file_path)

{'Company': Utf8,
 'Amount': Utf8,
 'Lead investors': Utf8,
 'Valuation': Utf8,
 'Industry': Utf8,
 'Date reported': Utf8}

In [12]:
parquet_output_file_path = '../data/output/venture_funding_deals_output.parquet'
df.write_parquet(parquet_output_file_path, compression='zstd', compression_level=10)

In [13]:
lf = pl.scan_parquet(parquet_input_file_path)
lf.collect().head()

shape: (5, 6)
┌────────────────┬────────────────┬────────────────┬───────────────┬───────────────┬───────────────┐
│ Company        ┆ Amount         ┆ Lead investors ┆ Valuation     ┆ Industry      ┆ Date reported │
│ ---            ┆ ---            ┆ ---            ┆ ---           ┆ ---           ┆ ---           │
│ str            ┆ str            ┆ str            ┆ str           ┆ str           ┆ str           │
╞════════════════╪════════════════╪════════════════╪═══════════════╪═══════════════╪═══════════════╡
│ OpenAI         ┆ $10,000,000,00 ┆ Microsoft      ┆ n/a           ┆ Artificial    ┆ 1/23/23       │
│                ┆ 0              ┆                ┆               ┆ intelligence  ┆               │
│ Stripe         ┆ $6,500,000,000 ┆ n/a            ┆ $50,000,000,0 ┆ Fintech       ┆ 3/15/23       │
│                ┆                ┆                ┆ 00            ┆               ┆               │
│ Inflection AI  ┆ $1,300,000,000 ┆ Microsoft,     ┆ $4,000,000,00 ┆ Artificial    ┆ 6/29/23       │
│                ┆                ┆ Reid Hoffman,  ┆ 0             ┆ intelligence  ┆               │
│                ┆                ┆ Bill Ga…       ┆               ┆               ┆               │
│ Anthropic      ┆ $1,250,000,000 ┆ Amazon         ┆ $4,000,000,00 ┆ Artificial    ┆ 9/25/23       │
│                ┆                ┆                ┆ 0             ┆ intelligence  ┆               │
│ Generate       ┆ $1,030,900,000 ┆ n/a            ┆ n/a           ┆ Energy        ┆ 1/6/23        │
│ Capital        ┆                ┆                ┆               ┆               ┆               │
└────────────────┴────────────────┴────────────────┴───────────────┴───────────────┴───────────────┘

In [14]:
lf.sink_parquet(parquet_output_file_path, maintain_order=False)

### There is more...

In [15]:
partitioned_parquet_input_file_path = '../data/venture_funding_deals_partitioned'
df = pl.read_parquet(
    partitioned_parquet_input_file_path, 
    use_pyarrow=True, 
    pyarrow_options={'partitioning': 'hive'}
)
df.head()

shape: (5, 6)
┌───────────────┬──────────────┬────────────────────┬────────────────┬───────────────┬─────────────┐
│ Company       ┆ Amount       ┆ Lead investors     ┆ Valuation      ┆ Date reported ┆ Industry    │
│ ---           ┆ ---          ┆ ---                ┆ ---            ┆ ---           ┆ ---         │
│ str           ┆ str          ┆ str                ┆ str            ┆ str           ┆ cat         │
╞═══════════════╪══════════════╪════════════════════╪════════════════╪═══════════════╪═════════════╡
│ Restaurant365 ┆ $135,000,000 ┆ KKR, L Catterton   ┆ $1,000,000,000 ┆ 5/19/23       ┆ Accounting  │
│ Madhive       ┆ $300,000,000 ┆ Goldman Sachs      ┆ $1,000,000,000 ┆ 6/13/23       ┆ Advertising │
│               ┆              ┆ Asset Management   ┆                ┆               ┆             │
│ Ursa Major,   ┆ $100,000,000 ┆ BlackRock, Space   ┆ n/a            ┆ 4/26/23       ┆ Aerospace   │
│               ┆              ┆ Capital            ┆                ┆               ┆             │
│ Indigo        ┆ $250,000,000 ┆ Flagship           ┆ na             ┆ 9/15/23       ┆ Agriculture │
│               ┆              ┆ Pioneering, State  ┆                ┆               ┆             │
│               ┆              ┆ of Mi…             ┆                ┆               ┆             │
│ Chronosphere  ┆ $115,000,000 ┆ GV                 ┆ n/a            ┆ 1/9/23        ┆ Analytics   │
└───────────────┴──────────────┴────────────────────┴────────────────┴───────────────┴─────────────┘

In [16]:
partitioned_parquet_output_file_path = '../data/output/venture_funding_deals_partitioned_output'
df.write_parquet(
    partitioned_parquet_output_file_path, 
    use_pyarrow=True, 
    pyarrow_options={
        'partition_cols': ['Industry'],
        'existing_data_behavior': 'overwrite_or_ignore'
        }
)

## Reading and writing Delta Lake tables

### How to do it...

In [48]:
delta_input_file_path = '../data/venture_funding_deals_delta'
df = pl.read_delta(delta_input_file_path)
df.head()

shape: (5, 6)
┌────────────────┬────────────────┬────────────────┬───────────────┬───────────────┬───────────────┐
│ Company        ┆ Amount         ┆ Lead investors ┆ Valuation     ┆ Industry      ┆ Date reported │
│ ---            ┆ ---            ┆ ---            ┆ ---           ┆ ---           ┆ ---           │
│ str            ┆ str            ┆ str            ┆ str           ┆ str           ┆ str           │
╞════════════════╪════════════════╪════════════════╪═══════════════╪═══════════════╪═══════════════╡
│ OpenAI         ┆ $10,000,000,00 ┆ Microsoft      ┆ n/a           ┆ Artificial    ┆ 1/23/23       │
│                ┆ 0              ┆                ┆               ┆ intelligence  ┆               │
│ Stripe         ┆ $6,500,000,000 ┆ n/a            ┆ $50,000,000,0 ┆ Fintech       ┆ 3/15/23       │
│                ┆                ┆                ┆ 00            ┆               ┆               │
│ Inflection AI  ┆ $1,300,000,000 ┆ Microsoft,     ┆ $4,000,000,00 ┆ Artificial    ┆ 6/29/23       │
│                ┆                ┆ Reid Hoffman,  ┆ 0             ┆ intelligence  ┆               │
│                ┆                ┆ Bill Ga…       ┆               ┆               ┆               │
│ Anthropic      ┆ $1,250,000,000 ┆ Amazon         ┆ $4,000,000,00 ┆ Artificial    ┆ 9/25/23       │
│                ┆                ┆                ┆ 0             ┆ intelligence  ┆               │
│ Generate       ┆ $1,030,900,000 ┆ n/a            ┆ n/a           ┆ Energy        ┆ 1/6/23        │
│ Capital        ┆                ┆                ┆               ┆               ┆               │
└────────────────┴────────────────┴────────────────┴───────────────┴───────────────┴───────────────┘

In [49]:
lf = pl.scan_delta(delta_input_file_path)
lf.collect().head()

shape: (5, 6)
┌────────────────┬────────────────┬────────────────┬───────────────┬───────────────┬───────────────┐
│ Company        ┆ Amount         ┆ Lead investors ┆ Valuation     ┆ Industry      ┆ Date reported │
│ ---            ┆ ---            ┆ ---            ┆ ---           ┆ ---           ┆ ---           │
│ str            ┆ str            ┆ str            ┆ str           ┆ str           ┆ str           │
╞════════════════╪════════════════╪════════════════╪═══════════════╪═══════════════╪═══════════════╡
│ OpenAI         ┆ $10,000,000,00 ┆ Microsoft      ┆ n/a           ┆ Artificial    ┆ 1/23/23       │
│                ┆ 0              ┆                ┆               ┆ intelligence  ┆               │
│ Stripe         ┆ $6,500,000,000 ┆ n/a            ┆ $50,000,000,0 ┆ Fintech       ┆ 3/15/23       │
│                ┆                ┆                ┆ 00            ┆               ┆               │
│ Inflection AI  ┆ $1,300,000,000 ┆ Microsoft,     ┆ $4,000,000,00 ┆ Artificial    ┆ 6/29/23       │
│                ┆                ┆ Reid Hoffman,  ┆ 0             ┆ intelligence  ┆               │
│                ┆                ┆ Bill Ga…       ┆               ┆               ┆               │
│ Anthropic      ┆ $1,250,000,000 ┆ Amazon         ┆ $4,000,000,00 ┆ Artificial    ┆ 9/25/23       │
│                ┆                ┆                ┆ 0             ┆ intelligence  ┆               │
│ Generate       ┆ $1,030,900,000 ┆ n/a            ┆ n/a           ┆ Energy        ┆ 1/6/23        │
│ Capital        ┆                ┆                ┆               ┆               ┆               │
└────────────────┴────────────────┴────────────────┴───────────────┴───────────────┴───────────────┘

In [50]:
df.write_delta('../data/output/venture_funding_deals_delta_output', mode='overwrite')

In [51]:
delta_partitioned_output_file_path = '../data/output/venture_funding_deals_delta_partitioned_output'
delta_write_options = {'partition_by': 'Industry'}
df.write_delta(
    delta_partitioned_output_file_path, 
    mode='overwrite', 
    delta_write_options=delta_write_options
)

In [52]:
df = pl.read_delta(delta_partitioned_output_file_path)
df.head()

shape: (5, 6)
┌──────────────┬────────────────┬────────────────┬─────────────────┬──────────┬───────────────┐
│ Company      ┆ Amount         ┆ Lead investors ┆ Valuation       ┆ Industry ┆ Date reported │
│ ---          ┆ ---            ┆ ---            ┆ ---             ┆ ---      ┆ ---           │
│ str          ┆ str            ┆ str            ┆ str             ┆ str      ┆ str           │
╞══════════════╪════════════════╪════════════════╪═════════════════╪══════════╪═══════════════╡
│ Stripe       ┆ $6,500,000,000 ┆ n/a            ┆ $50,000,000,000 ┆ Fintech  ┆ 3/15/23       │
│ Ramp         ┆ $300,000,000   ┆ n/a            ┆ $5,800,000,000  ┆ Fintech  ┆ 8/23/23       │
│ Clear Street ┆ $270,000,000   ┆ Prysm Capital  ┆ $2,000,000,000  ┆ Fintech  ┆ 4/11/23       │
│ PayJoy       ┆ $150,000,000   ┆ Warburg Pincus ┆ n/a             ┆ Fintech  ┆ 9/5/23        │
│ Teamshares   ┆ $124,000,000   ┆ QED Investors  ┆ n/a             ┆ Fintech  ┆ 8/18/23       │
└──────────────┴────────────────┴────────────────┴─────────────────┴──────────┴───────────────┘

In [53]:
df = pl.read_delta(
    delta_partitioned_output_file_path, 
    pyarrow_options={'partitions': [('Industry', '=', 'Accounting')]}
)
df.head()

shape: (1, 6)
┌───────────────┬──────────────┬──────────────────┬────────────────┬────────────┬───────────────┐
│ Company       ┆ Amount       ┆ Lead investors   ┆ Valuation      ┆ Industry   ┆ Date reported │
│ ---           ┆ ---          ┆ ---              ┆ ---            ┆ ---        ┆ ---           │
│ str           ┆ str          ┆ str              ┆ str            ┆ str        ┆ str           │
╞═══════════════╪══════════════╪══════════════════╪════════════════╪════════════╪═══════════════╡
│ Restaurant365 ┆ $135,000,000 ┆ KKR, L Catterton ┆ $1,000,000,000 ┆ Accounting ┆ 5/19/23       │
└───────────────┴──────────────┴──────────────────┴────────────────┴────────────┴───────────────┘

### There is more...

In [23]:
from config import aws_access_key_id, aws_secret_access_key

In [25]:
table_path = 's3://sandbox-data-lake/letters_delta'
storage_options= {
    'aws_access_key_id': aws_access_key_id,
    'aws_secret_access_key': aws_secret_access_key,
    'aws_region': 'us-west-1'
}

df = pl.read_delta(table_path, storage_options=storage_options)  
df.head()

shape: (3, 1)
┌─────────┐
│ Letters │
│ ---     │
│ str     │
╞═════════╡
│ a       │
│ b       │
│ c       │
└─────────┘

## Reading and writing JSON files

### How to do it...

In [26]:
df = pl.read_json('../data/world_population.json')
df.select(df.columns[:10]).head()

shape: (5, 10)
┌───────┬────────────┬────────────┬────────────┬───┬────────────┬────────────┬───────────┬─────────┐
│ place ┆ pop1980    ┆ pop2000    ┆ pop2010    ┆ … ┆ pop2030    ┆ pop2050    ┆ country   ┆ area    │
│ ---   ┆ ---        ┆ ---        ┆ ---        ┆   ┆ ---        ┆ ---        ┆ ---       ┆ ---     │
│ i64   ┆ f64        ┆ f64        ┆ f64        ┆   ┆ f64        ┆ f64        ┆ str       ┆ i64     │
╞═══════╪════════════╪════════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═════════╡
│ 356   ┆ 6.96828385 ┆ 1.0596e9   ┆ 1.2406e9   ┆ … ┆ 1.5150e9   ┆ 1.6705e9   ┆ India     ┆ 3287590 │
│       ┆ e8         ┆            ┆            ┆   ┆            ┆            ┆           ┆         │
│ 156   ┆ 9.82372466 ┆ 1.2641e9   ┆ 1.3482e9   ┆ … ┆ 1.4156e9   ┆ 1.3126e9   ┆ China     ┆ 9706961 │
│       ┆ e8         ┆            ┆            ┆   ┆            ┆            ┆           ┆         │
│ 840   ┆ 2.23140018 ┆ 2.82398554 ┆ 3.11182845 ┆ … ┆ 3.52162301 ┆ 3.75391963 ┆ United    ┆ 9372610 │
│       ┆ e8         ┆ e8         ┆ e8         ┆   ┆ e8         ┆ e8         ┆ States    ┆         │
│ 360   ┆ 1.48177096 ┆ 2.14072421 ┆ 2.44016173 ┆ … ┆ 2.921501e8 ┆ 3.17225213 ┆ Indonesia ┆ 1904569 │
│       ┆ e8         ┆ e8         ┆ e8         ┆   ┆            ┆ e8         ┆           ┆         │
│ 586   ┆ 8.0624057e ┆ 1.54369924 ┆ 1.94454498 ┆ … ┆ 2.74029836 ┆ 3.67808468 ┆ Pakistan  ┆ 881912  │
│       ┆ 7          ┆ e8         ┆ e8         ┆   ┆ e8         ┆ e8         ┆           ┆         │
└───────┴────────────┴────────────┴────────────┴───┴────────────┴────────────┴───────────┴─────────┘

In [27]:
df.write_json('../data/output/world_population_output.json')

In [28]:
df = pl.read_ndjson('../data/world_population.jsonl')
df.select(df.columns[:10]).head()

shape: (5, 10)
┌───────┬────────────┬────────────┬────────────┬───┬────────────┬────────────┬───────────┬─────────┐
│ place ┆ pop1980    ┆ pop2000    ┆ pop2010    ┆ … ┆ pop2030    ┆ pop2050    ┆ country   ┆ area    │
│ ---   ┆ ---        ┆ ---        ┆ ---        ┆   ┆ ---        ┆ ---        ┆ ---       ┆ ---     │
│ i64   ┆ f64        ┆ f64        ┆ f64        ┆   ┆ f64        ┆ f64        ┆ str       ┆ i64     │
╞═══════╪════════════╪════════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═════════╡
│ 356   ┆ 6.96828385 ┆ 1.0596e9   ┆ 1.2406e9   ┆ … ┆ 1.5150e9   ┆ 1.6705e9   ┆ India     ┆ 3287590 │
│       ┆ e8         ┆            ┆            ┆   ┆            ┆            ┆           ┆         │
│ 156   ┆ 9.82372466 ┆ 1.2641e9   ┆ 1.3482e9   ┆ … ┆ 1.4156e9   ┆ 1.3126e9   ┆ China     ┆ 9706961 │
│       ┆ e8         ┆            ┆            ┆   ┆            ┆            ┆           ┆         │
│ 840   ┆ 2.23140018 ┆ 2.82398554 ┆ 3.11182845 ┆ … ┆ 3.52162301 ┆ 3.75391963 ┆ United    ┆ 9372610 │
│       ┆ e8         ┆ e8         ┆ e8         ┆   ┆ e8         ┆ e8         ┆ States    ┆         │
│ 360   ┆ 1.48177096 ┆ 2.14072421 ┆ 2.44016173 ┆ … ┆ 2.921501e8 ┆ 3.17225213 ┆ Indonesia ┆ 1904569 │
│       ┆ e8         ┆ e8         ┆ e8         ┆   ┆            ┆ e8         ┆           ┆         │
│ 586   ┆ 8.0624057e ┆ 1.54369924 ┆ 1.94454498 ┆ … ┆ 2.74029836 ┆ 3.67808468 ┆ Pakistan  ┆ 881912  │
│       ┆ 7          ┆ e8         ┆ e8         ┆   ┆ e8         ┆ e8         ┆           ┆         │
└───────┴────────────┴────────────┴────────────┴───┴────────────┴────────────┴───────────┴─────────┘

In [29]:
df.write_ndjson('../data/output/world_population_output.jsonl')

### There is more...

In [30]:
lf = pl.scan_ndjson('../data/world_population.jsonl')
lf.select(lf.columns[:10]).collect().head()

shape: (5, 10)
┌───────┬────────────┬────────────┬────────────┬───┬────────────┬────────────┬───────────┬─────────┐
│ place ┆ pop1980    ┆ pop2000    ┆ pop2010    ┆ … ┆ pop2030    ┆ pop2050    ┆ country   ┆ area    │
│ ---   ┆ ---        ┆ ---        ┆ ---        ┆   ┆ ---        ┆ ---        ┆ ---       ┆ ---     │
│ i64   ┆ f64        ┆ f64        ┆ f64        ┆   ┆ f64        ┆ f64        ┆ str       ┆ i64     │
╞═══════╪════════════╪════════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═════════╡
│ 356   ┆ 6.96828385 ┆ 1.0596e9   ┆ 1.2406e9   ┆ … ┆ 1.5150e9   ┆ 1.6705e9   ┆ India     ┆ 3287590 │
│       ┆ e8         ┆            ┆            ┆   ┆            ┆            ┆           ┆         │
│ 156   ┆ 9.82372466 ┆ 1.2641e9   ┆ 1.3482e9   ┆ … ┆ 1.4156e9   ┆ 1.3126e9   ┆ China     ┆ 9706961 │
│       ┆ e8         ┆            ┆            ┆   ┆            ┆            ┆           ┆         │
│ 840   ┆ 2.23140018 ┆ 2.82398554 ┆ 3.11182845 ┆ … ┆ 3.52162301 ┆ 3.75391963 ┆ United    ┆ 9372610 │
│       ┆ e8         ┆ e8         ┆ e8         ┆   ┆ e8         ┆ e8         ┆ States    ┆         │
│ 360   ┆ 1.48177096 ┆ 2.14072421 ┆ 2.44016173 ┆ … ┆ 2.921501e8 ┆ 3.17225213 ┆ Indonesia ┆ 1904569 │
│       ┆ e8         ┆ e8         ┆ e8         ┆   ┆            ┆ e8         ┆           ┆         │
│ 586   ┆ 8.0624057e ┆ 1.54369924 ┆ 1.94454498 ┆ … ┆ 2.74029836 ┆ 3.67808468 ┆ Pakistan  ┆ 881912  │
│       ┆ 7          ┆ e8         ┆ e8         ┆   ┆ e8         ┆ e8         ┆           ┆         │
└───────┴────────────┴────────────┴────────────┴───┴────────────┴────────────┴───────────┴─────────┘

## Reading and writing Excel files

### Getting ready

In [1]:
import polars as pl

### How to do it...

In [2]:
output_file_path = '../data/output/customer_shopping_data.xlsx'

df = pl.read_csv('../data/customer_shopping_data.csv')
df.write_excel(
    output_file_path,
    worksheet='Output Sheet1',
    header_format={'bold': True}
)

In [16]:
input_file_path = '../data/output/customer_shopping_data.xlsx'
df = pl.read_excel(
    input_file_path, 
    sheet_name='Output Sheet1',
    read_options={'has_header': True, 'try_parse_dates': True}
)
df.head()

shape: (5, 10)
┌────────────┬─────────────┬────────┬─────┬───┬─────────┬──────────────┬─────────────┬─────────────┐
│ invoice_no ┆ customer_id ┆ gender ┆ age ┆ … ┆ price   ┆ payment_meth ┆ invoice_dat ┆ shopping_ma │
│ ---        ┆ ---         ┆ ---    ┆ --- ┆   ┆ ---     ┆ od           ┆ e           ┆ ll          │
│ str        ┆ str         ┆ str    ┆ i64 ┆   ┆ f64     ┆ ---          ┆ ---         ┆ ---         │
│            ┆             ┆        ┆     ┆   ┆         ┆ str          ┆ date        ┆ str         │
╞════════════╪═════════════╪════════╪═════╪═══╪═════════╪══════════════╪═════════════╪═════════════╡
│ I138884    ┆ C241288     ┆ Female ┆ 28  ┆ … ┆ 1500.4  ┆ Credit Card  ┆ 2022-08-05  ┆ Kanyon      │
│ I317333    ┆ C111565     ┆ Male   ┆ 21  ┆ … ┆ 1800.51 ┆ Debit Card   ┆ 2021-12-12  ┆ Forum       │
│            ┆             ┆        ┆     ┆   ┆         ┆              ┆             ┆ Istanbul    │
│ I127801    ┆ C266599     ┆ Male   ┆ 20  ┆ … ┆ 300.08  ┆ Cash         ┆ 2021-11-09  ┆ Metrocity   │
│ I173702    ┆ C988172     ┆ Female ┆ 66  ┆ … ┆ 3000.85 ┆ Credit Card  ┆ 2021-05-16  ┆ Metropol    │
│            ┆             ┆        ┆     ┆   ┆         ┆              ┆             ┆ AVM         │
│ I337046    ┆ C189076     ┆ Female ┆ 53  ┆ … ┆ 60.6    ┆ Cash         ┆ 2021-10-24  ┆ Kanyon      │
└────────────┴─────────────┴────────┴─────┴───┴─────────┴──────────────┴─────────────┴─────────────┘

## Reading and writing other data file formats

### How to do it...

In [1]:
import polars as pl

In [3]:
csv_input_file_path = '../data/customer_shopping_data.csv'
ipc_file_path = '../data/customer_shopping_data.arrow'
df = pl.read_csv(csv_input_file_path)
df.write_ipc(ipc_file_path)

In [4]:
df = pl.read_ipc(ipc_file_path)
df.head()

shape: (5, 10)
┌────────────┬─────────────┬────────┬─────┬───┬─────────┬──────────────┬─────────────┬─────────────┐
│ invoice_no ┆ customer_id ┆ gender ┆ age ┆ … ┆ price   ┆ payment_meth ┆ invoice_dat ┆ shopping_ma │
│ ---        ┆ ---         ┆ ---    ┆ --- ┆   ┆ ---     ┆ od           ┆ e           ┆ ll          │
│ str        ┆ str         ┆ str    ┆ i64 ┆   ┆ f64     ┆ ---          ┆ ---         ┆ ---         │
│            ┆             ┆        ┆     ┆   ┆         ┆ str          ┆ str         ┆ str         │
╞════════════╪═════════════╪════════╪═════╪═══╪═════════╪══════════════╪═════════════╪═════════════╡
│ I138884    ┆ C241288     ┆ Female ┆ 28  ┆ … ┆ 1500.4  ┆ Credit Card  ┆ 5/8/2022    ┆ Kanyon      │
│ I317333    ┆ C111565     ┆ Male   ┆ 21  ┆ … ┆ 1800.51 ┆ Debit Card   ┆ 12/12/2021  ┆ Forum       │
│            ┆             ┆        ┆     ┆   ┆         ┆              ┆             ┆ Istanbul    │
│ I127801    ┆ C266599     ┆ Male   ┆ 20  ┆ … ┆ 300.08  ┆ Cash         ┆ 9/11/2021   ┆ Metrocity   │
│ I173702    ┆ C988172     ┆ Female ┆ 66  ┆ … ┆ 3000.85 ┆ Credit Card  ┆ 16/05/2021  ┆ Metropol    │
│            ┆             ┆        ┆     ┆   ┆         ┆              ┆             ┆ AVM         │
│ I337046    ┆ C189076     ┆ Female ┆ 53  ┆ … ┆ 60.6    ┆ Cash         ┆ 24/10/2021  ┆ Kanyon      │
└────────────┴─────────────┴────────┴─────┴───┴─────────┴──────────────┴─────────────┴─────────────┘

In [28]:
avro_file_path = '../data/world_population.avro'
df = (
    pl.read_json('../data/world_population.json')
    .select(['country', 'pop2023', 'density'])
)
df.write_avro(avro_file_path)

In [29]:
df = pl.read_avro(avro_file_path)
df.head()

shape: (5, 3)
┌───────────────┬────────────┬──────────┐
│ country       ┆ pop2023    ┆ density  │
│ ---           ┆ ---        ┆ ---      │
│ str           ┆ i64        ┆ f64      │
╞═══════════════╪════════════╪══════════╡
│ India         ┆ 1428627663 ┆ 480.5033 │
│ China         ┆ 1425671352 ┆ 151.2696 │
│ United States ┆ 339996563  ┆ 37.1686  │
│ Indonesia     ┆ 277534122  ┆ 147.8196 │
│ Pakistan      ┆ 240485658  ┆ 311.9625 │
└───────────────┴────────────┴──────────┘

In [40]:
lf = pl.scan_iceberg('../data/lineitem_iceberg/metadata/v1.metadata.json')
lf.select(lf.columns[0:10]).head().collect()

shape: (5, 10)
┌────────────┬───────────┬───────────┬────────────┬───┬────────────┬───────┬───────────┬───────────┐
│ l_orderkey ┆ l_partkey ┆ l_suppkey ┆ l_linenumb ┆ … ┆ l_discount ┆ l_tax ┆ l_returnf ┆ l_linesta │
│ ---        ┆ ---       ┆ ---       ┆ er         ┆   ┆ ---        ┆ ---   ┆ lag       ┆ tus       │
│ i32        ┆ i32       ┆ i32       ┆ ---        ┆   ┆ f64        ┆ f64   ┆ ---       ┆ ---       │
│            ┆           ┆           ┆ i32        ┆   ┆            ┆       ┆ str       ┆ str       │
╞════════════╪═══════════╪═══════════╪════════════╪═══╪════════════╪═══════╪═══════════╪═══════════╡
│ 1          ┆ 1552      ┆ 93        ┆ 1          ┆ … ┆ 0.04       ┆ 0.02  ┆ N         ┆ O         │
│ 1          ┆ 674       ┆ 75        ┆ 2          ┆ … ┆ 0.09       ┆ 0.06  ┆ N         ┆ O         │
│ 1          ┆ 637       ┆ 38        ┆ 3          ┆ … ┆ 0.1        ┆ 0.02  ┆ N         ┆ O         │
│ 1          ┆ 22        ┆ 48        ┆ 4          ┆ … ┆ 0.09       ┆ 0.06  ┆ N         ┆ O         │
│ 1          ┆ 241       ┆ 23        ┆ 5          ┆ … ┆ 0.1        ┆ 0.04  ┆ N         ┆ O         │
└────────────┴───────────┴───────────┴────────────┴───┴────────────┴───────┴───────────┴───────────┘

### There is more...

In [8]:
lf = pl.scan_ipc(ipc_file_path)

In [9]:
lf.sink_ipc('../data/output/customer_shopping_data.arrow')

InvalidOperationError: sink_Ipc(IpcWriterOptions { compression: Some(ZSTD), maintain_order: true }) not yet supported in standard engine. Use 'collect().write_parquet()'

In [43]:
lf.collect().write_ipc('../data/output/customer_shopping_data.arrow')

In [44]:
lf = pl.scan_csv(csv_input_file_path)
lf.sink_ipc('../data/output/customer_shopping_data_from_csv.arrow')

## Reading and writing multiple files

### How to do it...

In [45]:
data = {'Letter': ['A','B','C'], 'Value': [1,2,3]}
df = pl.DataFrame(data)

In [46]:
dfs = df.group_by('Letter')
print(dfs)

<polars.dataframe.group_by.GroupBy object at 0x2a89b2910>

In [47]:
for name, df in dfs:
    df.write_csv(f'../data/output/letter_{name}.csv')

In [48]:
df = pl.read_csv('../data/output/letter_*.csv')
df.head()

shape: (3, 2)
┌────────┬───────┐
│ Letter ┆ Value │
│ ---    ┆ ---   │
│ str    ┆ i64   │
╞════════╪═══════╡
│ A      ┆ 1     │
│ B      ┆ 2     │
│ C      ┆ 3     │
└────────┴───────┘

In [49]:
lf = pl.scan_csv('../data/output/letter_*.csv')
lf.collect().head()

shape: (3, 2)
┌────────┬───────┐
│ Letter ┆ Value │
│ ---    ┆ ---   │
│ str    ┆ i64   │
╞════════╪═══════╡
│ A      ┆ 1     │
│ B      ┆ 2     │
│ C      ┆ 3     │
└────────┴───────┘

### There is more...

In [50]:
import glob
lfs = [pl.scan_csv(file) for file in glob.glob('../data/output/letter_*.csv')]
dfs = pl.collect_all(lfs)
dfs

[shape: (1, 2)
 ┌────────┬───────┐
 │ Letter ┆ Value │
 │ ---    ┆ ---   │
 │ str    ┆ i64   │
 ╞════════╪═══════╡
 │ B      ┆ 2     │
 └────────┴───────┘,
 shape: (1, 2)
 ┌────────┬───────┐
 │ Letter ┆ Value │
 │ ---    ┆ ---   │
 │ str    ┆ i64   │
 ╞════════╪═══════╡
 │ C      ┆ 3     │
 └────────┴───────┘,
 shape: (1, 2)
 ┌────────┬───────┐
 │ Letter ┆ Value │
 │ ---    ┆ ---   │
 │ str    ┆ i64   │
 ╞════════╪═══════╡
 │ A      ┆ 1     │
 └────────┴───────┘]

## Working with databases

### How to do it...

In [14]:
import polars as pl

In [15]:
from config import postgres_pass, postgres_user

In [16]:
# connectorx is required
uri = f'postgres://{postgres_user}:{postgres_pass}@localhost:5432/postgres' 
query = 'SELECT * FROM sandbox.cars'
df = pl.read_database_uri(query, uri)
df.head()

shape: (3, 3)
┌────────┬────────┬──────┐
│ brand  ┆ model  ┆ year │
│ ---    ┆ ---    ┆ ---  │
│ str    ┆ str    ┆ i32  │
╞════════╪════════╪══════╡
│ Volvo  ┆ p1800  ┆ 1968 │
│ BMW    ┆ M1     ┆ 1978 │
│ Toyota ┆ Celica ┆ 1975 │
└────────┴────────┴──────┘

In [17]:
# pip install adbc-driver-postgresql pyarrow
df = pl.read_database_uri(query, uri, engine='adbc')
df.head()

shape: (3, 3)
┌────────┬────────┬──────┐
│ brand  ┆ model  ┆ year │
│ ---    ┆ ---    ┆ ---  │
│ str    ┆ str    ┆ i32  │
╞════════╪════════╪══════╡
│ Volvo  ┆ p1800  ┆ 1968 │
│ BMW    ┆ M1     ┆ 1978 │
│ Toyota ┆ Celica ┆ 1975 │
└────────┴────────┴──────┘

In [18]:
df = pl.read_database(query, connection=uri)
df.head()

/var/folders/4l/yz8bs9_14yj6_1v4hn7dh70h0000gn/T/ipykernel_41715/602348150.py:1: DeprecationWarning: Use of a string URI with 'read_database' is deprecated; use `read_database_uri` instead
  df = pl.read_database(query, connection=uri)

shape: (3, 3)
┌────────┬────────┬──────┐
│ brand  ┆ model  ┆ year │
│ ---    ┆ ---    ┆ ---  │
│ str    ┆ str    ┆ i32  │
╞════════╪════════╪══════╡
│ Volvo  ┆ p1800  ┆ 1968 │
│ BMW    ┆ M1     ┆ 1978 │
│ Toyota ┆ Celica ┆ 1975 │
└────────┴────────┴──────┘

In [19]:
# pip install sqlalchemy pg8000 or psycopg2 (default is psycopg2)
from sqlalchemy import create_engine

con_string = f'postgresql+pg8000://{postgres_user}:{postgres_pass}@localhost:5432/postgres' 
engine = create_engine(con_string)
conn = engine.connect()

df = pl.read_database(query, connection=conn)
df.head()

shape: (3, 3)
┌────────┬────────┬──────┐
│ brand  ┆ model  ┆ year │
│ ---    ┆ ---    ┆ ---  │
│ str    ┆ str    ┆ i64  │
╞════════╪════════╪══════╡
│ Volvo  ┆ p1800  ┆ 1968 │
│ BMW    ┆ M1     ┆ 1978 │
│ Toyota ┆ Celica ┆ 1975 │
└────────┴────────┴──────┘

In [23]:
df.write_database(table_name="sandbox.cars_output", connection=uri, engine="adbc", if_table_exists='append')

3

In [24]:
df.write_database(table_name="sandbox.cars_output", connection=con_string, engine="sqlalchemy", if_table_exists='replace')

3

In [22]:
df = pl.read_database_uri('select * from sandbox.cars_output', uri, engine='adbc')
df.head()

shape: (3, 3)
┌────────┬────────┬──────┐
│ brand  ┆ model  ┆ year │
│ ---    ┆ ---    ┆ ---  │
│ str    ┆ str    ┆ i64  │
╞════════╪════════╪══════╡
│ Volvo  ┆ p1800  ┆ 1968 │
│ BMW    ┆ M1     ┆ 1978 │
│ Toyota ┆ Celica ┆ 1975 │
└────────┴────────┴──────┘